

.headermain{
    margin-top: 20px;
    padding: 20px;
    height: 120px;
}

.logo{
    color: white;
    text-align: center;
}

.logo span{
    color: rgb(241, 159, 17);
}

.subtitle{
    color: white;
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}