.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px; /* pode ajustar conforme o contexto */
  gap: 10px;
  color: #f19f11;
  font-weight: 500;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #eaeaea;
  border-top: 5px solid #f19f11; /* cor do destaque */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
